@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald|Raleway|Montserrat');

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pink {
  height: 148vh;
  width: 100%;
  margin-left: 272px;
  transform: skewX(-30deg);
  background: linear-gradient(to top, rgba(247,84,85,1) 1%,rgba(244,105,105,1) 48%,rgba(229,125,80,1) 100%);
}

.box {
  margin-top: 120px;
  margin-left: 120px;
  width: 506px;
  height: 228px;
  border: 1px solid #cccccc;
  position: fixed;
  z-index: 1;
  background: #fff;
}

.box h1 {
  font-size: 75px;
  margin: 24px;
  letter-spacing: 9px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.box p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  background: linear-gradient(to right, rgba(252, 151, 152, .4) 1%,rgba(218, 91, 91, .4) 51%,rgba(230, 116, 67, .4) 100%);
  color: white;
  padding: 12px;
  width: 75%;
  margin: auto;
  margin-top: 24px;
  text-shadow: 1px 1px 1px #000;
}

.box-title {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

.profile {
    width: 227px;
    position: absolute;
    right: 239px;
    top: 121px;
    z-index: 1;
}

.profile-box-img {
  margin-top: 18px;
  margin-left: 127px;
  width: 85px;
  opacity: 0;
  position: absolute;
}

.bio {
  margin: 28px;
  border: 1px solid #cccccc;
  background: #fff;
  width: 506px;
  opacity: 1;
  position: fixed;
  bottom: 0px;
  z-index: 1;
}

.bio p  {
  padding: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.body {
  background-color: rgb(247,84,85);
  width: 100%;
  height: 200px;
}

.bio-tag {
  font-family: 'Abril Fatface', cursive;
  font-size: 188px;
  color: #787878;
  opacity: .2;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.skills {
  position: absolute;
  right: 48px;
  width: 420px;
  height: 165px;
  background: #87D2D2;
  justify-content: center;
  align-items: center;
  display: flex;
}

.skills h1 {
  font-size: 48px;
  color: #329494;
  font-family: 'Abril Fatface', cursive;
  z-index: 1;
  filter: saturate(2);
  text-shadow: 1px 1px 1px #fff;
}

.skills-deco {
  width: 30%;
  height: 165px;
  transform: skewX(-30deg);
  background: #8edfdf;
  position: absolute;
  bottom: 0;
  left: 233px;
  border-style: solid;
  border-color: #b4ffff;
  border-width: 0 1px 0px 1px;
}

.projects {
  position: absolute;
  bottom: -269px;
  right: 48px;
  width: 420px;
  height: 165px;
  text-align: center;
  background: #FFCEA5;
  justify-content: center;
  align-items: center;
  display: flex;
}

.projects h1 {
  font-family: 'Abril Fatface', cursive;
  color: #F79E54;
  font-size: 48px;
  z-index: 1;
  filter: saturate(2);
  text-shadow: 1px 1px 1px #fff;
}

.projects-deco {
  width: 30%;
  height: 165px;
  transform: skewX(-30deg);
  background: #ffc18d;
  position: absolute;
  bottom: 0px;
  left: 233px;
  border-style: solid;
  border-color: #ffe3cc;
  border-width: 0 1px 0px 1px;
}