@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald|Raleway|Montserrat');

@keyframes clipper {
  from { clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%); }
  to { clip-path: polygon(30% 0, 100% 0, 100% 100%, 7% 100%); }
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

.pink {
  height: 148vh;
  width: 100%;
  margin-left: 272px;
  transform: skewX(-30deg);
  background: linear-gradient(to top, rgba(247,84,85,1) 1%,rgba(244,105,105,1) 48%,rgba(229,125,80,1) 100%);
}

.box {
  margin-top: 120px;
  margin-left: 120px;
  width: 506px;
  height: 228px;
  border: 1px solid #cccccc;
  position: fixed;
  z-index: 1;
  background: #fff;
}

.box h1 {
  font-size: 75px;
  margin: 24px;
  letter-spacing: 9px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

.box p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  background: linear-gradient(to right, rgba(252, 151, 152, .4) 1%,rgba(218, 91, 91, .4) 51%,rgba(230, 116, 67, .4) 100%);
  color: white;
  padding: 12px;
  width: 75%;
  margin: auto;
  margin-top: 24px;
  text-shadow: 1px 1px 1px #000;
}

.box-title {
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-around;
}

.profile {
    width: 227px;
    position: absolute;
    right: 239px;
    top: 121px;
    z-index: 1;
}

.profile-box-img {
  margin-top: 18px;
  margin-left: 127px;
  width: 85px;
  opacity: 0;
  position: absolute;
}

.bio {
  margin-bottom: 47px;
  margin-left: 56px;
  border: 1px solid #cccccc;
  background: #fff;
  width: 506px;
  position: fixed;
  bottom: 0px;
  z-index: 1;
  opacity: 0;
}

.bio p  {
  padding: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.body {
  background-color: rgb(247,84,85);
  width: 100%;
}

.bio-tag {
  font-family: 'Abril Fatface', cursive;
  font-size: 188px;
  color: #787878;
  opacity: .2;
  position: absolute;
  bottom: 0;
  right: 20px;
}

.projects {
  position: absolute;
  bottom: -61px;
  right: 48px;
  width: 420px;
  height: 165px;
  text-align: center;
  background: #FFCEA5;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all .2s;
  opacity: 0;
}

.projects h1 {
  font-family: 'Abril Fatface', cursive;
  color: #F79E54;
  font-size: 48px;
  z-index: 1;
  filter: saturate(2);
  text-shadow: 1px 1px 1px #fff;
  transition: all .2s;
}

.projects-deco {
    width: 30%;
    height: 165px;
    transform: skewX(-30deg);
    background: #ffd8b8;
    position: absolute;
    bottom: 0px;
    left: 233px;
    border-style: solid;
    border-color: #f6ebe2;
    border-width: 0 1px 0px 1px;
    transition: all .2s;
}

.projects:hover {
  animation: clipper .2s ease-out;
  animation-fill-mode: forwards;
}

.projects:hover .projects-deco {
  -webkit-transition: all 0.2s ease-out;
  position: absolute;
  left: 79px;
}

.projects:hover h1 {
  transition: all .2s ease-in;
  margin-left: 96px;
}

.skills {
  position: absolute;
  bottom: 127px;
  right: 48px;
  width: 420px;
  height: 165px;
  background: #87D2D2;
  justify-content: center;
  align-items: center;
  display: flex;
  opacity: 0;
}

.skills h1 {
  transition: all .2s ease-in;
  font-size: 48px;
  color: #329494;
  font-family: 'Abril Fatface', cursive;
  z-index: 1;
  filter: saturate(2);
  text-shadow: 1px 1px 1px #fff;
}


.skills-deco {
  transition: all .3s;
  width: 30%;
  height: 165px;
  transform: skewX(-30deg);
  background: #8edfdf;
  position: absolute;
  bottom: 0;
  left: 233px;
  border-style: solid;
  border-color: #b4ffff;
  border-width: 0 1px 0px 1px;
}

.skills:hover {
  animation: clipper .2s ease-out;
  animation-fill-mode: forwards;
}

.skills:hover .skills-deco {
  -webkit-transition: all 0.2s ease-out;
  position: absolute;
  left: 79px;
}

.skills:hover h1 {
  transition: all .2s ease-in;
  margin-left: 96px;
}

.contact {
  position: absolute;
  bottom: -255px;
  right: 48px;
  width: 420px;
  height: 165px;
  background: #96E896;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all .2s ease-in
}

.contact h1 {
  font-size: 48px;
  color: #0F910F;
  font-family: 'Abril Fatface', cursive;
  z-index: 1;
  filter: saturate(2);
  text-shadow: 1px 1px 1px #fff;
  transition: all .2s ease-in
}

.contact-deco {
  width: 30%;
  height: 165px;
  transform: skewX(-30deg);
  background: #a9ffa9;
    position: absolute;
  bottom: 0;
  left: 233px;
  border-style: solid;
  border-color: #dfffdf;
  border-width: 0 1px 0px 1px;
  transition: all .2s ease-in
}

.contact:hover {
  animation: clipper .2s ease-out;
  animation-fill-mode: forwards;
}

.contact:hover .contact-deco {
  -webkit-transition: all 0.2s ease-out;
  position: absolute;
  left: 79px;
}

.contact:hover h1 {
  transition: all .2s ease-in;
  margin-left: 96px;
}

.skills-section {
  background: #87D2D2;
  width: 100%;
  height: 100vh;
  position: relative;
}

.skills-section-deco {
  position: absolute;
  top: 0;
  left: 353px;
  height: 100vh;
  width: 60%;
  transform: skewX(-30deg);
  background: #a6f5f5;
}

.skills-label {
  z-index: 1;
  position: absolute;
  left: 846px;
  top: 200px;
  font-family: 'Abril Fatface', cursive;
  font-size: 173px;
  color: #87d2d2;
  transform: rotate(-60deg);
  letter-spacing: 16px;
}

.projects-section {
  background: #FFCEA5;
  width: 100%;
  height: 100vh;
  position: relative;
}

.projects-section-deco {
  position: absolute;
  top: 0;
  left: 353px;
  height: 100vh;
  width: 60%;
  transform: skewX(-30deg);
  background: #ffd8b8;
}

.projects-label {
  z-index: 1;
  position: absolute;
  left: 821px;
  top: 200px;
  font-family: 'Abril Fatface', cursive;
  font-size: 133px;
  color: #FFCEA5;
  transform: rotate(-60deg);
  letter-spacing: 16px;
}

.contact-section {
  background: #96E896;
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact-section-deco {
  position: absolute;
  top: 0;
  left: 353px;
  height: 100vh;
  width: 60%;
  transform: skewX(-30deg);
  background: #a9ffa9;
}

.contact-label {
  z-index: 1;
  position: absolute;
  left: 848px;
  top: 200px;
  font-family: 'Abril Fatface', cursive;
  font-size: 133px;
  color: #96E896;
  transform: rotate(-60deg);
  letter-spacing: 16px;
}